<div class="bg-backgroud absolute inset-0 z-0 min-h-screen w-screen">
  <div class="absolute inset-0 flex h-screen w-screen items-center justify-center gap-60">
    <div class="size-120 bg-indigo-400 blur-[2000px]"></div>
    <div class="size-120 bg-yellow-300 blur-[2000px]"></div>
  </div>
  <div class="absolute inset-0 flex min-h-screen w-screen flex-col">
    @for (item of HORIZENTAL_LINES_NUM; let i = $index;track i) {
    <div class="dashed-bottom h-20 w-full"></div>
    }
  </div>
  <div class="absolute inset-0 flex min-h-screen w-screen">
    @for (item of VERTICAL_LINES_NUM; let i = $index;track i) {
    <div class="dashed-left h-full w-20"></div>
    }
  </div>
</div>
